---
import type { CollectionEntry } from 'astro:content'
import { SiteMetadata, getPosts } from '../config'
import Base from '../layouts/base.astro'
import Hero from '../components/hero.astro'
import Services from '../components/services.astro'
import ReviewsCarousel from '../components/carousel.astro'
import IndexImages from '../components/indexImages.astro'
import CTA from '../components/cta.astro'
import coverSVG from '../assets/svg/undraw/undraw_design_inspiration.svg'
import socialImage from '../assets/undraw/undraw_design_inspiration.png'

const frontmatter: CollectionEntry<'page'>['data'] = {
  title: SiteMetadata.title,
  description: SiteMetadata.description,
  coverSVG: coverSVG,
  socialImage: socialImage
}

export const reviewsCarouselPages = [
  {
    name: '1st',
    image: '../assets/gallery/carousel/reviews/review1.png',
  },
  {
    name: '2nd',
    image: '../assets/gallery/carousel/reviews/review2.png',
  },
  {
    name: '3rd',
    image: '../assets/gallery/carousel/reviews/review3.png',
  },
  {
    name: '4th',
    image: '../assets/gallery/carousel/reviews/review4.png',
  },
  {
    name: '5th',
    image: '../assets/gallery/carousel/reviews/review5.png',
  },
  {
    name: '6th',
    image: '../assets/gallery/carousel/reviews/review6.png',
  }
]
---

<Base frontmatter={frontmatter}>
  <Hero />
  <Services />
  <ReviewsCarousel pages={reviewsCarouselPages}/>
  <IndexImages />
  <CTA />
  <center>
    <iframe width="100%" height="300" src="https://www.youtube.com/embed/-3UefJekoHA?si=dugXSfVLx0nDlreU" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
  </center>
  <div class='bg-white p-24 dark:bg-black md:p-12'></div>
</Base>
