import HeroImg from '../components/heroimg.astro'

<div class="bg-sky-100 dark:bg-sky-900">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="max-w-2xl mx-auto py-16 sm:py-24 lg:py-32 lg:max-w-none">
            
            <HeroImg
              class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
              src="../images/Mulch2.png"
              alt="featured"
            />
        </div>
      </div>
    </div>
  </div>