<div class="bg-zinc-200 py-12 dark:bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-2xl mx-auto py-16 sm:py-24 lg:py-32 lg:max-w-none">
      <h2 class="text-4xl font-extrabold text-sky-800 dark:text-sky-100">
        Some of Our Services
      </h2>
      <div
        class="mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6"
      >
        <img
        class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
        src="/tmp/mowing.png"
        alt="featured"
      />
          <img
          class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
          src="/tmp/Leaf Cleanup (2).png"
          alt="featured"
        />
          <img
            class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
            src="/tmp/Mulch2.png"
            alt="featured"
          />
          <h3 class="text-4xl font-extrabold text-sky-800 dark:text-sky-100">
            Mowing
          </h3>
          <h3 class="text-4xl font-extrabold text-sky-800 dark:text-sky-100">
            Leaf Removal
          </h3>
          <h3 class="text-4xl font-extrabold text-sky-800 dark:text-sky-100">
            Mulch Installation
          </h3>
          <br/>
          <br/>
      </div>
    </div>
  </div>
</div>
