---
import AstroImage from '../svg/astro/full-logo-light.svg'
import TailwindImage from '../svg/undraw/undraw_tailwind_css.svg'
import CoreImage from '../svg/undraw/undraw_static_assets.svg'
import HeroImg from '../components/findoutmoreimg.astro'
import MulchImg from '../images/Mulch2.png'

const callouts = [
  {
    name: 'Mowing',
    description: 'Our mowing service includes mowing, trimming, and blowing of all concrete surfaces.',
    imageSrc: HeroImg,
    imageAlt: 'Astro logo',
    href: 'https://astro.build',
  },
  {
    name: 'Leaf Removal',
    description:
      'We offer one time or recurring cleanups. We also offer curbside pickup.',
    imageSrc: TailwindImage,
    imageAlt: 'TailwindCSS drawing',
    href: 'https://tailwindcss.com',
  },
  {
    name: 'Mulch Installation',
    description: 'Our mulch service includes weeding.',
    imageSrc: CoreImage,
    imageAlt: 'Core Web',
    href: 'https://w3.org',
  },
]
---
<main
        class="pt-10 mx-auto max-w-7xl px-4 sm:pt-12 sm:px-6 md:pt-16 lg:pt-20 lg:px-8 xl:pt-28"
      >
        <div class="text-center sm:text-left">
          <h1
            class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-100 sm:text-5xl md:text-6xl text-left"
          >
            <span class="block xl:inline">Sommer Lawn's:</span>{' '}
            <span class="block text-sky-400 dark:text-sky-300 xl:inline"
              ><br/>Mowing Service
            </span>
          </h1>
          <p
            class="mt-3 text-base text-gray-600 dark:text-gray-300 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
          >
            Sommer Lawn & Landscape offers weekly and bi-weekly mowing service starting at $35/week.
            <br/>Our weekly mowing service includes: Mowing, Trimming, Blowing, and Edging.
            <br/>Our Bi-weekly mowing service includes: Mowing, Trimming, and Blowing.
            <br/> <br/>What sets us apart: <br/><a href="https://www.youtube.com/watch?v=8MQy5iki0Bg">https://www.youtube.com/watch/sommerlawn</a>
            
            <br/><br/>
            Approximate Residential Pricing:
            <br/> 
            - 1/8 acre: $35 - $45
            <br/>
            - 1/4 acre: $40 - $50
            <br/>
            - 1/2 acre: $55 - $75
            <br/>
            - 3/4 acre: $70 - $85
            <br/>
            - 1 acre: $95^
          </p>
          <div
    class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 bg-sky-100 dark:bg-sky-500"
  >
    <HeroImg
      class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
      src="../images/gallery/carousel/grass4.png"
      alt="featured"
    />
  </div>
          <p
            class="mt-3 text-base text-gray-600 dark:text-gray-300 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
          >
            
          </p>
          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
            <div class="rounded-md shadow">
              <a
                href="https://www.yardbook.com/new_quote/cd465cd85f772bbc78b18fbf3345bf9601d3c01a"
                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-sky-600 hover:bg-sky-600 dark:text-black dark:bg-sky-300 dark:hover:bg-sky-300 md:py-4 md:text-lg md:px-10"
              >
              Request Quote
              </a>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-3">
              <a
                href="sms: (913) 225-7717"
                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-sky-800 bg-sky-100 hover:bg-sky-200 dark:text-sky-100 dark:bg-sky-900 dark:hover:bg-sky-900 md:py-4 md:text-lg md:px-10"
                rel="noopener noreferrer"
                target="_blank"
              >
                Text or Call Us! (913) 225-7717
              </a>
            </div>
          </div>
        </div>
      </main>
      <br/>
      <br/>
      
<div class="bg-sky-100 dark:bg-sky-900">
  <div class="max-w-7xl mx-auto px-8 sm:px-8 lg:px-10">
    <div class="max-w-2xl mx-auto py-16 sm:py-24 lg:py-32 lg:max-w-none">
      <h1 class="text-4xl font-extrabold text-sky-800 dark:text-sky-100">
        
      </h1>
      <center><iframe width="100%" height="700" src="https://www.yardbook.com/new_quote/cd465cd85f772bbc78b18fbf3345bf9601d3c01a" frameborder="0" allowfullscreen></iframe></center>
      <div
        class="mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6"
      
      >
      
        <HeroImg
        class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
        src="../images/mowing.png"
        alt="featured"
      />
          <HeroImg
          class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
          src="../images/gallery/carousel/grass 1.png"
          alt="featured"
        />
          <HeroImg
            class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
            src="../images/gallery/carousel/edging.png"
            alt="featured"
          />
          
          <br/>
          
          
      </div>
      <center><iframe width="100%" height="300" src="https://www.youtube.com/embed/75aFvNXENbc?autoplay=1&mute=1" frameborder="0" allowfullscreen></iframe></center>
    </div>
  </div>
</div>