---
import AstroImage from '../svg/astro/full-logo-light.svg'
import TailwindImage from '../svg/undraw/undraw_tailwind_css.svg'
import CoreImage from '../svg/undraw/undraw_static_assets.svg'
import HeroImg from '../components/findoutmoreimg.astro'
import MulchImg from '../images/Mulch2.png'
import Mulch2 from '../components/findoutmoreimg copy.astro'

const callouts = [
  {
    name: 'Mowing',
    description: 'Our mowing service includes mowing, trimming, and blowing of all concrete surfaces.',
    imageSrc: HeroImg,
    imageAlt: 'Astro logo',
    href: 'https://astro.build',
  },
  {
    name: 'Leaf Removal',
    description:
      'We offer one time or recurring cleanups. We also offer curbside pickup.',
    imageSrc: TailwindImage,
    imageAlt: 'TailwindCSS drawing',
    href: 'https://tailwindcss.com',
  },
  {
    name: 'Mulch Installation',
    description: 'Our mulch service includes weeding.',
    imageSrc: CoreImage,
    imageAlt: 'Core Web',
    href: 'https://w3.org',
  },
]
---

<div class="bg-sky-100 dark:bg-sky-900">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-2xl mx-auto py-16 sm:py-24 lg:py-32 lg:max-w-none">
      <h1 class="text-4xl font-extrabold text-sky-800 dark:text-sky-100">
        Testimonials
      </h1>
      <div
        class="mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6"
      
      >
      
        <HeroImg
        class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
        src="../images/testimonial1.png"
        alt="featured"
    
        />
        

          <HeroImg
          class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
          src="../images/testimonial2.png"
          alt="featured"
        />
          <HeroImg
            class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
            src="../images/Mulch2.png"
            alt="featured"
          />
          <h3 class="text-4xl font-extrabold text-sky-800 dark:text-sky-100">
            Mowing
          </h3>
          <h3 class="text-4xl font-extrabold text-sky-800 dark:text-sky-100">
            Leaf Removal
          </h3>
          <h3 class="text-4xl font-extrabold text-sky-800 dark:text-sky-100">
          </h3>
          <br/>
          <br/>
          
      </div>
    </div>
  </div>
</div>
