---
import AstroImage from '../svg/astro/full-logo-light.svg'
import TailwindImage from '../svg/undraw/undraw_tailwind_css.svg'
import CoreImage from '../svg/undraw/undraw_static_assets.svg'
import HeroImg from '../components/findoutmoreimg.astro'
import MulchImg from '../images/Mulch2.png'
import { YouTube } from '@astro-community/astro-embed-youtube';
---
<style>
  .gallery {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width: 480px) {
    .gallery {
      column-count: 1;
      column-gap: 3px;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {
    .gallery {
      column-count: 2;
      column-gap: 3px;
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {
    .gallery { /* Masonry container */
      column-count: 2;
      column-gap: 3px;
    }
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width: 1200px) {
    .gallery {
      column-count: 3;
      column-gap: 0.2rem;
      width: 100%;
    }
  }

  .pswp--custom-icon-colors {
    --pswp-icon-color: #eee;
    --pswp-icon-color-secondary: #663399;
  }

  .pswp__dynamic-caption--aside {
    max-width: 300px;
    padding: 20px 15px 20px 20px;
    margin-top: 70px;
  }

  .pswp__dynamic-caption--below {
    max-width: 700px;
    padding: 15px 0 0;
  }

  .pswp__dynamic-caption--mobile {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
  }
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
<div>
  <br/>
  <br/>
  <br/>
  <br/>
  <center>
  <YouTube id="https://youtu.be/hjyrfK7oe0o" />
  </center>
  <br/>
  <center>
  <p
    class="mt-3 text-base text-gray-600 dark:text-gray-300 sm:mt-10 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
  >
  Why Clean Your Gutters?
  <br/>
  <br/>
  Gutter cleaning is an essential part of maintaining your home's exterior. Clogged gutters can lead to water damage, roof leaks, and other costly repairs. That's why Sommer Lawn & Landscape offers professional gutter cleaning services to help keep your gutters clear and functioning properly.
  <br/>
  <br/>
  Our gutter cleaning process is quick and efficient. We'll start by inspecting your gutters to assess the extent of the debris buildup. Our team will then use specialized tools to remove any leaves, twigs, or other debris that may be clogging your gutters. We'll also clear out any downspouts to ensure proper water flow.
  <br/>
  <br/>
  Regular gutter cleaning can help prevent costly repairs and extend the lifespan of your gutters. It also helps to protect your home's foundation and exterior from water damage.
  <br/>
  <br/>
  At Sommer Lawn & Landscape, we take pride in providing high-quality gutter cleaning services to homeowners in the KC area. Our team is dedicated to delivering exceptional customer service and ensuring your complete satisfaction with our work.
  <br/>
  
  </p>
</center>
</div>